/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Start Global Rules */

body {
    font-family: 'Cairo', sans-serif;
}
:root {
    --main-color: #E55997;
    --sec-color: #1F262E;
    --main-transition: 0.3s;
    --section-background: #F0F0F0;

}


.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.flex.center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.flex.cntr {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.flex.start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.flex button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #000;
    border: none;
    outline: none;
    color: #fff;
    width: 160px;
    height: 42px;
    border-radius: 21px;
    margin-top: 40px;
    -webkit-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
}
.flex .apple {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.741' height='29.145' viewBox='0 0 22.741 29.145'%3E%3Cg id='apple' transform='translate(0)'%3E%3Cpath id='Path_4383' data-name='Path 4383' d='M47.658,4.429A5.66,5.66,0,0,0,49.294,0a7.392,7.392,0,0,0-4.629,2.1A5.421,5.421,0,0,0,43,6.4,6.163,6.163,0,0,0,47.658,4.429Zm3.365,11.225a6.53,6.53,0,0,1,3.014-5.479,6.454,6.454,0,0,0-5.107-2.851c-2.176-.228-4.243,1.318-5.348,1.318s-2.8-1.288-4.607-1.253A6.807,6.807,0,0,0,33.2,11c-2.465,4.4-.632,10.93,1.77,14.5,1.174,1.749,2.572,3.711,4.408,3.64,1.772-.071,2.44-1.179,4.578-1.179s2.738,1.179,4.609,1.143c1.9-.035,3.109-1.783,4.273-3.538a16.085,16.085,0,0,0,1.934-4.092A6.34,6.34,0,0,1,51.023,15.655Z' transform='translate(-32.029)' fill='%23ccd0d2'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 23px 7px; 
}
.flex button:last-of-type {
    margin-left: 30px;
}

.flex button:hover {
    background-color: #fff;
    border: none;
    color: #191919;
}
.flex .apple:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.741' height='29.145' viewBox='0 0 22.741 29.145'%3E%3Cg id='apple' transform='translate(0)'%3E%3Cpath id='Path_4383' data-name='Path 4383' d='M47.658,4.429A5.66,5.66,0,0,0,49.294,0a7.392,7.392,0,0,0-4.629,2.1A5.421,5.421,0,0,0,43,6.4,6.163,6.163,0,0,0,47.658,4.429Zm3.365,11.225a6.53,6.53,0,0,1,3.014-5.479,6.454,6.454,0,0,0-5.107-2.851c-2.176-.228-4.243,1.318-5.348,1.318s-2.8-1.288-4.607-1.253A6.807,6.807,0,0,0,33.2,11c-2.465,4.4-.632,10.93,1.77,14.5,1.174,1.749,2.572,3.711,4.408,3.64,1.772-.071,2.44-1.179,4.578-1.179s2.738,1.179,4.609,1.143c1.9-.035,3.109-1.783,4.273-3.538a16.085,16.085,0,0,0,1.934-4.092A6.34,6.34,0,0,1,51.023,15.655Z' transform='translate(-32.029)' fill='currentColor'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.flex button img {
    margin-left: 17px;
}
.flex button div {
    margin-right: 7px;
    margin-bottom: 5px;
}
.flex button div div {
    font-size: 18px;
    padding: 0;
    margin-top: -8px;
}
.flex button div span {
    font-size: 10px;
    padding: 0;
    margin-right: 21px;
}
/* End Global Rules */
/* Start navbar */
header {
    background-image: url("../images/header.png");
    overflow: hidden;
}
.nav {
    background-color: #122D4C;
    height: 110px;
}
.navbar {
    padding: 5px 0;
    margin: 0;
    margin-top: 23px;
    margin-bottom: 23px;
    height: 63px;
}
.navbar-expand-lg {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.navbar-collapse {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
}
.navbar-expand-lg .navbar-collapse {
    margin-right: 30px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    margin-right: 30px;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--main-color);
}
.lang {
    padding: 2px 10px;
    background-color: #E2E2E2;
    color: var(--sec-color);
    border-radius: 58px;
    font-size: 12px;
    opacity: 0.665;
}
.lang a {
    color: var(--sec-color);
    text-decoration: none;
}
.lang img {
    margin-right: 1px;
}

@media (max-width: 768px) { 
    .lang {
        display: none;
    }
}
.priv {
    padding-top: 0;
    margin-top: 91px;
    height: 0;
    opacity: 0;
    -webkit-box-shadow: 0px 1px 6px var(--sec-color);
            box-shadow: 0px 1px 6px var(--sec-color);
}
.priv.navbar-light .navbar-nav .nav-link {
    color: var(--sec-color);
}
.priv.navbar-light .navbar-nav .nav-link:hover {
    color: var(--main-color);
}
/* End Navbar */
/* Start Header */
.text {
    height: 790px;
}
.flex.text h2 {
    font-size: 62px;
    font-weight: bold;
    color: #fff;
    margin-top: 230px;
}
.flex h2 span {
    color: var(--main-color);
}
.flex .image {
    margin-top: 130px;
    position: relative;
    padding-left: 322px;
}

.flex .image div img {
    position: absolute;
    right: 225px;
    top: -47px;
    z-index: 2;
}
.flex .image div img:last-of-type {
    left: 16px;
    top: -27px;
}

.flex .image img:last-of-type {
    position: absolute;
    right: 0;
}
@media (max-width: 992px) {
    .flex h2 {
        font-size: 70px;
        text-align: center;
        margin-top: 90px !important;
    }
    .flex.start {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-left: -5px;
    }
    .flex .image {
        display: none;
    }
}
/* End Header */
/* Start About Us */
.about-us {
    background-color: var(--section-background);
    padding-top: 105px;
    padding-bottom: 113px;
    overflow: hidden;
}
.about-us .first-h {
    margin: auto;
    color: var(--sec-color);
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 600;
}
.about-us .first-h::before {
    content: '';
    position: absolute;
    top: 22px;
    left: -99px;
    width: 40px;
    height: 1px;
    background-color: #1C252E;
}
.about-us .first-h::after {
    content: '';
    position: absolute;
    top: 22px;
    right: -99px;
    width: 40px;
    height: 1px;
    background-color: #1C252E;
/* 123 x 60 */
}
.about-us div .first-p {
    font-size: 18px;
    color: #000;
    text-align: center;
    margin: 40px auto 0;
    max-width: 920px;
    height: 193px;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 70px;
}
.about-us .points {
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.about-us .points img,
.about-us img {
    margin: 26px 18px  26px 18px;
    position: absolute;
    z-index: 1;
}
.about-us .thr.lst img {
    margin: 56px 15px 56px 7px;
}
.about-us .points .fst,
.about-us .points .sec,
.about-us .thr {
    background-color: #333864;
    border-radius: 31px;
    height: 267px;
    margin-bottom: 14px;
    position: relative;
    min-width: 540px;
}
.about-us .thr {
    max-width: 540px;
    margin-left: 25%;
}
.about-us .points .fst div,
.about-us .points .sec div,
.about-us .thr div {
    margin-left: 260px;
}
.about-us .points .fst {
    margin-right: 7px;
}
.about-us .points .sec {
    margin-left: 7px;
}
.about-us .points div div h2,
.about-us div div h2 {
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 76px;
}
.about-us .thr.lst h2 {
    font-size: 27px;
    margin-top: 60px;
}
.about-us .points div div p,
.about-us div div p {
    font-size: 20px;
    color: #FFFFFF;
    margin-right: 5px;
    margin-bottom: 4px;
}
@media (max-width: 1200px) {
    .about-us .points .fst,
    .about-us .points .sec,
    .about-us .thr {
        min-width: 0;
    }
    .about-us .points {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
}
@media (max-width: 992px) {
    .about-us .points {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .about-us .thr {
        max-width: none;
        margin-left: 0;
    }
}

@media (max-width: 560px) {
    .about-us .points img {
        opacity: 0.3;
    }
    .about-us .points .fst div,
    .about-us .points .sec div,
    .about-us .thr div {
        margin-left: 18px;
        text-align: center;
        z-index: 1;
    }
    .about-us .thr.lst h2 {
        margin-right: 10px;
    }
}
/* End About Us */
/* Start business */
.business {
    position: relative;
    background-image: url("../images/businesspeople-working.png");
    background-repeat: no-repeat;
    
    background-size: 100% 100%;
    height: 348px;
}
.business .overlay {
    background-color: #333864;
    opacity: 0.85;
    height: 100%;
    position: absolute;
    width: 100%;
}
.business .container div {
    position: relative;
}
.business .container div h2 {
    font-size: 40px;
    font-weight: 600;
    padding: 70px 100px 0;
    text-align: center;
    color: #FFFFFF;
}
@media (max-width: 768px) {
    .business .container div h2 {
        font-size: 30px;
        padding: 70px 0 0;
    }
}
/* End business */
/* Start How It Works */
.works {
    padding-top: 103px;
    background-color: #FFFFFF;
}
.works h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    color: var(--sec-color);
}
.works p {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #707070;
    padding-bottom: 50px;
}
.tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.tabs {
    padding-bottom: 100px;
    overflow: hidden;
} 
.tab button {
    margin-left: 36px;
    margin-bottom: 60px;
    width: 84px;
    height: 44px;
    border-radius: 24px;
    border: 1px solid var(--main-color);
    background-color: #fff;
    color: var(--main-color);
    font-size: 18px;
    font-weight: 600;
}

.tab button:hover {
    background-color: var(--main-color);
    color: #fff;
}
  
.tab button.active {
    background-color: var(--main-color);
    color: #fff;
}
  
.tabcontent,
.tabcontentt {
    display: none;
    padding: 6px 12px;
    /* -webkit-animation: fadeEffect 0.5s;
    animation: fadeEffect 0.5s; */
    overflow: hidden;
}
.tabcontent .steps,
.tabcontentt .steps {
    -webkit-animation: fadeEffect 0.5s;
    animation: fadeEffect 0.5s;
    overflow: hidden;
}
.tabcontent.bl,
.tabcontentt.bl {
    display: block;
    margin-left: 0;
}
.tabcontent .flex .tabframe,
.tabcontentt .flex .tabframe {
    position: relative;
    padding-right: 160px;
    z-index: 2;
}
.tabcontent .flex .tabframe > img,
.tabcontentt .flex .tabframe > img{
    margin-left: 158px;
}
.tabcontent .flex .tabscreen,
.tabcontentt .flex .tabscreen  {
    position: absolute;
    top: 14px;
    left: 172px;
    z-index: 3;
}
.tabcontent .circle,
.tabcontentt .circle {
    position: absolute;
    top: 80px;
    z-index: -1;
}
.tabcontent .flex h3,
.tabcontentt .flex h3{
    font-size: 28px;
    color: var(--sec-color);
    font-weight: 600;
    padding: 0 15px;
}
.hr {
    display: block;
    height: 6px;
    width: 100%;
    background-color: var(--main-color);
    border-radius: 8px;
    margin-top: 74px;
    margin-bottom: 53px;
}
@media (max-width: 992px) {
    .steps {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .tabcontent .flex h3,
    .tabcontentt .flex h3 {
        margin-top: 30px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .tab {
        flex-wrap: wrap;
        margin-right: 10px;
    }
    .tab button {
        margin-left: 10px;
        width: 60px;
        height: 28px;
        font-size: 17px;
        margin-bottom: 10px;
    }
    .tabframe {
        margin-top: 45px ;
    }
    .tabcontent .circle,
    .tabcontentt .circle {
        display: none;
    }
    .hr {
        margin-top: 0;
        margin-bottom: 35px;
    }
}
/* End How It Works */
/* Start Contact Us */
.contact-us {
    background-color: #333864;
}
.contact-us h2 {
    font-size: 46px;
    font-weight: 600;
    color: #FFFFFF;
    padding-top: 119px;
    padding-bottom: 10px;
    text-align: center;
}
.contact-us .parg {
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 46px;
}
.contact-us form {
    width: 82%;
    margin: 0 auto;
    gap: 24px 25px;
    overflow: hidden;
}
.contact-us form .widt {
    min-width: 445px;
    border: 1px solid #707070;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: var(--sec-color);
    font-size: 16px;
    font-weight: 600;
    padding: 11px 18px;
    outline: none;
}
.contact-us form #number {
    padding-left: 57px;
}
.contact-us form #description {
    height: 106px;
    resize: none;
    min-width: 445px;
    border: 1px solid #707070;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: var(--sec-color);
    font-size: 16px;
    font-weight: 600;
    padding: 11px 18px;
    outline: none;
}
.contact-us form .sub {
    background: -webkit-gradient(linear, left top, left bottom, from(#E55997), to(#B94BAC));
    background: -o-linear-gradient(#E55997, #B94BAC);
    background: linear-gradient(#E55997, #B94BAC);
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 24px;
    width: 160px;
    height: 45px;
    margin: 44px auto 111px;
    outline: none;
    border: none;
}
.iti.iti--allow-dropdown {
    width: auto;
    padding: 0;
}
.iti--allow-dropdown .iti__flag-container, .iti--separate-dial-code .iti__flag-container {
    left: 10px;
}
.iti__country-list {
    left: -10px;
    width: 445px;
}
@media (max-width: 1200px) {
    .contact-us form .widt,
    .contact-us form #description {
        min-width: 371px;
    }
    .iti__country-list {
        width: 371px;
    }
}
@media (max-width: 992px) {
    .contact-us form .widt,
    .contact-us form #description,
    .iti.iti--allow-dropdown {
        width: 100%;
        min-width: -webkit-fit-content;
        min-width: -moz-fit-content;
        min-width: fit-content;
    }
    .iti__country-list {
        width: 570px;
    }
}
/* End Contact Us */
/* Start Footer */
footer {
    padding-top: 20px;
    background-color: #EDEDED;
}
footer .footerbtn {
    margin-top: 0;
}
footer .info {
    padding-bottom: 20px;
}
footer .info span {
    color: var(--sec-color);
    font-size: 22px;
    font-weight: 600;
}
footer .info p {
    color: var(--sec-color);
    font-size: 18px;
}
footer .info .social img {
    opacity: 0;
    background-color: var(--main-color);
    color: var(--main-color);
}
footer .info .social .facebook {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.324' height='19.616' viewBox='0 0 10.324 19.616'%3E%3Cpath id='XMLID_835_' d='M77.033,10.448h2.24V19.3a.323.323,0,0,0,.33.316h3.8a.323.323,0,0,0,.33-.316V10.489h2.576a.325.325,0,0,0,.327-.28l.391-3.259a.308.308,0,0,0-.081-.247A.336.336,0,0,0,86.7,6.6H83.731V4.555c0-.616.345-.928,1.027-.928H86.7a.323.323,0,0,0,.33-.316V.319A.323.323,0,0,0,86.7,0H84.025c-.019,0-.061,0-.122,0a5.259,5.259,0,0,0-3.35,1.212,3.288,3.288,0,0,0-1.168,3V6.6H77.033a.323.323,0,0,0-.33.316v3.217A.323.323,0,0,0,77.033,10.448Z' transform='translate(-76.703)' fill='%231f262e'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 0px 5px;
}
footer .info .social .twitter {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.542' height='15.73' viewBox='0 0 17.542 15.73'%3E%3Cpath id='XMLID_827_' d='M17.142,29.912a6.286,6.286,0,0,1-.848.339,4.223,4.223,0,0,0,.764-1.471.328.328,0,0,0-.093-.337.263.263,0,0,0-.321-.024,6.35,6.35,0,0,1-1.974.854A3.621,3.621,0,0,0,12.034,28.1a3.962,3.962,0,0,0-3.766,4.124,4.6,4.6,0,0,0,.031.533,9.422,9.422,0,0,1-6.617-3.845.272.272,0,0,0-.241-.113.282.282,0,0,0-.222.153,4.427,4.427,0,0,0-.51,2.074A4.361,4.361,0,0,0,1.6,33.7a3.059,3.059,0,0,1-.5-.246.262.262,0,0,0-.278,0,.316.316,0,0,0-.142.262c0,.018,0,.037,0,.055a4.23,4.23,0,0,0,1.843,3.547c-.1-.01-.191-.026-.286-.046a.269.269,0,0,0-.265.1.332.332,0,0,0-.058.3,3.916,3.916,0,0,0,2.759,2.764A6.25,6.25,0,0,1,.314,41.5a.283.283,0,0,0-.3.2.326.326,0,0,0,.114.365A9.523,9.523,0,0,0,5.62,43.827a9.448,9.448,0,0,0,7.569-3.641,12.191,12.191,0,0,0,2.623-7.522c0-.113,0-.227,0-.341a7.767,7.767,0,0,0,1.685-1.954A.333.333,0,0,0,17.473,30,.267.267,0,0,0,17.142,29.912Z' transform='translate(0.002 -28.097)' fill='%231f262e'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 0px 7px;
}
footer .info .social .youtube {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.961' height='15.139' viewBox='0 0 20.961 15.139'%3E%3Cpath id='XMLID_823_' d='M20.144,47.217c-.757-.923-2.154-1.3-4.821-1.3H5.638c-2.729,0-4.15.4-4.9,1.384C0,48.259,0,49.67,0,51.624v3.724c0,3.785.872,5.707,5.638,5.707h9.684c2.314,0,3.6-.332,4.425-1.147.851-.835,1.213-2.2,1.213-4.56V51.624C20.961,49.564,20.9,48.144,20.144,47.217ZM13.457,54l-4.4,2.359a.661.661,0,0,1-.664-.021.7.7,0,0,1-.326-.594v-4.7a.7.7,0,0,1,.325-.593.661.661,0,0,1,.663-.023l4.4,2.343a.7.7,0,0,1,0,1.231Z' transform='translate(0 -45.917)' fill='%231f262e'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 0px 7px;
}
footer .info .social .instagram {
    background-image: url("data:image/svg+xml,%3Csvg id='instagram_1_' data-name='instagram (1)' xmlns='http://www.w3.org/2000/svg' width='19.538' height='19.538' viewBox='0 0 19.538 19.538'%3E%3Cpath id='Path_11919' data-name='Path 11919' d='M13.717,0H5.82A5.827,5.827,0,0,0,0,5.82v7.9a5.827,5.827,0,0,0,5.82,5.82h7.9a5.827,5.827,0,0,0,5.82-5.82V5.82A5.827,5.827,0,0,0,13.717,0Zm3.855,13.717a3.855,3.855,0,0,1-3.855,3.855H5.82a3.855,3.855,0,0,1-3.855-3.855V5.82A3.855,3.855,0,0,1,5.82,1.966h7.9A3.855,3.855,0,0,1,17.572,5.82v7.9Z' fill='%231f262e'/%3E%3Cpath id='Path_11920' data-name='Path 11920' d='M138.053,133a5.053,5.053,0,1,0,5.053,5.053A5.059,5.059,0,0,0,138.053,133Zm0,8.141a3.088,3.088,0,1,1,3.088-3.088A3.088,3.088,0,0,1,138.053,141.141Z' transform='translate(-128.284 -128.284)' fill='%231f262e'/%3E%3Ccircle id='Ellipse_358' data-name='Ellipse 358' cx='1.211' cy='1.211' r='1.211' transform='translate(13.621 3.543)' fill='%231f262e'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 0px 5px;
}
footer .info .social .facebook:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.324' height='19.616' viewBox='0 0 10.324 19.616'%3E%3Cpath id='XMLID_835_' d='M77.033,10.448h2.24V19.3a.323.323,0,0,0,.33.316h3.8a.323.323,0,0,0,.33-.316V10.489h2.576a.325.325,0,0,0,.327-.28l.391-3.259a.308.308,0,0,0-.081-.247A.336.336,0,0,0,86.7,6.6H83.731V4.555c0-.616.345-.928,1.027-.928H86.7a.323.323,0,0,0,.33-.316V.319A.323.323,0,0,0,86.7,0H84.025c-.019,0-.061,0-.122,0a5.259,5.259,0,0,0-3.35,1.212,3.288,3.288,0,0,0-1.168,3V6.6H77.033a.323.323,0,0,0-.33.316v3.217A.323.323,0,0,0,77.033,10.448Z' transform='translate(-76.703)' fill='%23E55997'/%3E%3C/svg%3E%0A");
}
footer .info .social .twitter:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.542' height='15.73' viewBox='0 0 17.542 15.73'%3E%3Cpath id='XMLID_827_' d='M17.142,29.912a6.286,6.286,0,0,1-.848.339,4.223,4.223,0,0,0,.764-1.471.328.328,0,0,0-.093-.337.263.263,0,0,0-.321-.024,6.35,6.35,0,0,1-1.974.854A3.621,3.621,0,0,0,12.034,28.1a3.962,3.962,0,0,0-3.766,4.124,4.6,4.6,0,0,0,.031.533,9.422,9.422,0,0,1-6.617-3.845.272.272,0,0,0-.241-.113.282.282,0,0,0-.222.153,4.427,4.427,0,0,0-.51,2.074A4.361,4.361,0,0,0,1.6,33.7a3.059,3.059,0,0,1-.5-.246.262.262,0,0,0-.278,0,.316.316,0,0,0-.142.262c0,.018,0,.037,0,.055a4.23,4.23,0,0,0,1.843,3.547c-.1-.01-.191-.026-.286-.046a.269.269,0,0,0-.265.1.332.332,0,0,0-.058.3,3.916,3.916,0,0,0,2.759,2.764A6.25,6.25,0,0,1,.314,41.5a.283.283,0,0,0-.3.2.326.326,0,0,0,.114.365A9.523,9.523,0,0,0,5.62,43.827a9.448,9.448,0,0,0,7.569-3.641,12.191,12.191,0,0,0,2.623-7.522c0-.113,0-.227,0-.341a7.767,7.767,0,0,0,1.685-1.954A.333.333,0,0,0,17.473,30,.267.267,0,0,0,17.142,29.912Z' transform='translate(0.002 -28.097)' fill='%23E55997'/%3E%3C/svg%3E%0A");
}
footer .info .social .youtube:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.961' height='15.139' viewBox='0 0 20.961 15.139'%3E%3Cpath id='XMLID_823_' d='M20.144,47.217c-.757-.923-2.154-1.3-4.821-1.3H5.638c-2.729,0-4.15.4-4.9,1.384C0,48.259,0,49.67,0,51.624v3.724c0,3.785.872,5.707,5.638,5.707h9.684c2.314,0,3.6-.332,4.425-1.147.851-.835,1.213-2.2,1.213-4.56V51.624C20.961,49.564,20.9,48.144,20.144,47.217ZM13.457,54l-4.4,2.359a.661.661,0,0,1-.664-.021.7.7,0,0,1-.326-.594v-4.7a.7.7,0,0,1,.325-.593.661.661,0,0,1,.663-.023l4.4,2.343a.7.7,0,0,1,0,1.231Z' transform='translate(0 -45.917)' fill='%23E55997'/%3E%3C/svg%3E%0A");
}
footer .info .social .instagram:hover {
    background-image: url("data:image/svg+xml,%3Csvg id='instagram_1_' data-name='instagram (1)' xmlns='http://www.w3.org/2000/svg' width='19.538' height='19.538' viewBox='0 0 19.538 19.538'%3E%3Cpath id='Path_11919' data-name='Path 11919' d='M13.717,0H5.82A5.827,5.827,0,0,0,0,5.82v7.9a5.827,5.827,0,0,0,5.82,5.82h7.9a5.827,5.827,0,0,0,5.82-5.82V5.82A5.827,5.827,0,0,0,13.717,0Zm3.855,13.717a3.855,3.855,0,0,1-3.855,3.855H5.82a3.855,3.855,0,0,1-3.855-3.855V5.82A3.855,3.855,0,0,1,5.82,1.966h7.9A3.855,3.855,0,0,1,17.572,5.82v7.9Z' fill='%23E55997'/%3E%3Cpath id='Path_11920' data-name='Path 11920' d='M138.053,133a5.053,5.053,0,1,0,5.053,5.053A5.059,5.059,0,0,0,138.053,133Zm0,8.141a3.088,3.088,0,1,1,3.088-3.088A3.088,3.088,0,0,1,138.053,141.141Z' transform='translate(-128.284 -128.284)' fill='%23E55997'/%3E%3Ccircle id='Ellipse_358' data-name='Ellipse 358' cx='1.211' cy='1.211' r='1.211' transform='translate(13.621 3.543)' fill='%23E55997'/%3E%3C/svg%3E%0A");
}
footer .copy {
    position: relative;
}
footer .copy .opac {
    position: absolute;
    background-color:#777777;
    opacity: 0.1;
    width: 100%;
    top: 0;
    height: 100%;
}
footer .copy .idx {
    z-index: 10;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}
footer .copy span {
    color: var(--sec-color);
    font-size: 14px;
    font-weight: 500;
}
footer .copy ul {
    margin-top: 0;
    margin-bottom: 0;
}
footer .copy ul li {
    list-style: none;
    position: relative;
}
footer .copy ul .aftr::after {
    content: "";
    position: absolute;
    height: 23px;
    width: 1px;
    background-color: var(--sec-color);
    top: 0px;
    right: -25px;
}
footer .copy ul li a {
    color: var(--sec-color);
    font-size: 16px;
    text-decoration: none;
    margin-left: 55px;
    -webkit-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    transition: var(--main-transition);
}
footer .copy ul li a:hover {
    color: var(--main-color);
}

@media (max-width: 992px) {
    .flx {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 30px;
        padding-top: 15px;
    }
    .flx > img {
        display: none;
    }
    footer .copy ul li a {
        font-size: 14px;
        margin-left: 25px;
    }
    footer .copy ul .aftr::after {
        content: none;
    }
}
@media (max-width: 768px) {
    footer .copy .idx {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    footer .copy ul {
        margin-bottom: 7px;
    }
    footer .copy ul li a {
        margin-left: 0;
        margin-right: 25px;
    }
}
@media (max-width: 576px) {
    .iti__country-list {
        width: 410px;
    }
    
}
@media (max-width: 530px) {
    .iti__country-list {
        width: 376px;
    }
    footer .copy ul li a {
        font-size: 10px;
        margin-right: 20px;
    }
}
/* End Footer */



.toggle {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
}

.antim {
    -webkit-animation: slow 0.5s normal forwards;
    animation: slow  0.5s normal forwards;
}
.aniti {
    -webkit-animation: closeslow 0.5s normal forwards;
    animation: closeslow 0.5s normal forwards;
}

@media(min-width: 992px) {
    .toggle {
        display: none;
        opacity: 0;
        width: 0;
        height: 0;
    }
}
@media (max-width: 992px) {
    .toggle {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #fff;
        z-index: 1031;
    }
    .navbar-expand-lg .navbar-collapse {
        display: none;
    }
    .toggle .close {
        color: #fff;
        position: absolute;
        right: 90px;
        top: 50px;
        width: 30px;
        height: 30px;
        background-color: var(--sec-color);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-radius: 15px;
        cursor: pointer;
        -webkit-transition: var(--main-transition);
        -o-transition: var(--main-transition);
        transition: var(--main-transition);
        -webkit-transform: scaleY(1);
            -ms-transform: scaleY(1);
                transform: scaleY(1);
    }
    .toggle .close:hover {
        background-color: var(--main-color);
        -webkit-transform: scaleY(-1);
            -ms-transform: scaleY(-1);
                transform: scaleY(-1);
    }
    .toggle ul {
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, 50%);
            -ms-transform: translate(-50%, 50%);
                transform: translate(-50%, 50%);
        text-align: center;
        top: -8%;
    }
    .toggle ul li {
        margin: 15px 0;
    }
    .toggle ul li a {
        font-size: 30px;
        font-weight: 500;
        color: var(--sec-color);
        padding: 5px 50px;
        position: relative;
        -webkit-transition: all var(--main-transition) ease;
        -o-transition: all var(--main-transition) ease;
        transition: all var(--main-transition) ease;
        line-height: 50px;
    }
    .toggle ul li a::after {
        content: "";
        position: absolute;
        left: -7px;
        top: 10px;
        width: 105%;
        height: 75%;
        background-color: var(--main-color);
        border-radius: 50px;
        -webkit-transform: scaleY(0);
            -ms-transform: scaleY(0);
                transform: scaleY(0);
        -webkit-transition: -webkit-transform var(--main-transition) ease;
        transition: -webkit-transform var(--main-transition) ease;
        -o-transition: transform var(--main-transition) ease;
        transition: transform var(--main-transition) ease;
        transition: transform var(--main-transition) ease, -webkit-transform var(--main-transition) ease;
        z-index: -1;
    }
    .toggle ul li a:hover::after {
        -webkit-transform: scaleY(1);
            -ms-transform: scaleY(1);
                transform: scaleY(1);
    }
    .toggle ul li a:hover {
        color: #fff;
    }
}








/* Animations */
@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
        width: 0;
        margin-left: 1650px;
    }
    to {
        opacity: 1;
        width: 100%;
        margin-left: 0;
    }
}
  
@keyframes fadeEffect {
    from {
        opacity: 0;
        width: 0;
        margin-left: 1650px;
    }
    to {
        opacity: 1;
        width: 100%;
        margin-left: 0;
    }
}

@-webkit-keyframes slow {
    from {
        opacity: 0;
        width: 0;
        height: 0;
    }
    to {
        opacity: 1;
        width: 100%;
        height: 100%;
    }
}
  
@keyframes slow {
    from {
        opacity: 0;
        width: 0;
        height: 0;
    }
    to {
        opacity: 1;
        width: 100%;
        height: 100%;
    }
}

@-webkit-keyframes closeslow {
    from {
        opacity: 1;
        width: 100%;
        height: 100%;
    }
    to {
        opacity: 0;
        width: 0;
        height: 0;
    }
}
  
@keyframes closeslow {
    from {
        opacity: 1;
        width: 100%;
        height: 100%;
    }
    to {
        opacity: 0;
        width: 0;
        height: 0;
    }
}